@import '~app/styles/colors';

:host {
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;

  border-radius: 50px;

  z-index: 50;

  font-size: 64px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

  background-color: $fireflyAccent;
  color: black;

  box-shadow: 0 0 100px black;

  div {
    text-align: center;
  }

  .answer {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  .exit {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: $fireflyDark;

    font-size: 30px;
    line-height: 50px;
    text-align: center;
    padding-right: 5px;

    border-radius: 50%;

    color: $fireflyAccent;

    z-index: 51;

    cursor: pointer;
  }
}
