$fireflyTransparent: rgba(184, 104, 50, 0.75);
$fireflyFull: rgba(184, 104, 50, 1);
$fireflyAccent: #D38948;

.questions-grid {
  display: grid;
  height: 100%;
  width: calc(100% - 200px);
  margin: auto;
  color: $fireflyFull;

  .question-group {
    margin: 10px;
    text-align: center;

    .group-header {
      line-height: 50px;
      font-size: 24px;
      padding: 10px;
    }

    .question {
      color: black;
      position: relative;
      background-color: $fireflyTransparent;
      transition: all 200ms ease-in;
      transform: scale(1);
      z-index: 1;
      margin: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;

      &:hover {
        box-shadow: 0 0 150px #000000;
        border-radius: 40px;
        z-index: 2;
        background-color: $fireflyFull;
        transition: all 100ms ease-in;
        transform: scale(1.5);
      }

      .question-number {
        font-size: 36px;
        text-shadow: 0 0 10px $fireflyAccent;
      }
    }
  }
}
