@import '~app/styles/colors';

:host {
  width: auto;
  height: 100%;
  color: black;
  position: relative;
  margin: 10px auto;
  background-color: $fireflyTransparent;
  transition: all 250ms ease-in-out;
  transform: scale(1);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 100px black;
    border-radius: 40px;
    z-index: 20;
    background-color: $fireflyFull;
    transition: all 125ms ease-in-out;
    transform: scale(1.5);
    /*animation: swing 3s infinite ease-in-out;
    animation-delay: 125ms;*/
  }

  .question-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .question-label {
      font-size: 36px;
      text-shadow: 0 0 20px $fireflyDark;
    }
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg) scale(1.5);
  }

  25% {
    transform: rotate(1deg) scale(1.55);
  }

  50% {
    transform: rotate(0deg) scale(1.5);
  }

  75% {
    transform: rotate(-1deg) scale(1.55);
  }

  100% {
    transform: rotate(0deg) scale(1.5);
  }
}
