@import '~app/styles/colors';

:host {
  font-family: 'Kaushan Script', cursive;
}

.questions-grid {
  display: grid;
  height: 100%;
  width: 80%;
  min-width: 600px;
  margin: auto;
  color: $fireflyDark;

  .question-group {
    margin: 10px;
    text-align: center;

    .group-header {
      line-height: 50px;
      font-size: 24px;
      padding: 10px;

      .group-header-img {
        z-index: 30;
        position: absolute;
        top: 10px;
        margin-left: -50px;
        height: auto;
        width: 100px;
        transition: all 250ms ease-in-out;

        &:hover {
          z-index: 31;
          position: absolute;
          transition: all 125ms ease-in-out;
          transform: translateY(calc(20vh)) scale(4);
          box-shadow: 0 0 100px black;
        }
      }

      .img-hover {
        z-index: 31;
        position: absolute;
        top: 0;
        left: calc(50% - (50vh) + 80px);
        box-shadow: 0 0 100px black;
        height: 100%;
        width: auto;
        pointer-events: none;
      }
    }

    .group-questions {
      margin-top: 100px;
      height: calc(100% - 100px);
    }
  }
}

.question-answered {
  opacity: 0;
  cursor: default;
}
