.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

md-card {
  height: calc(100% - 112px);
  background: none;
}

md-toolbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
